In [2]:
import requests
import pandas as pd

In [9]:
final=pd.DataFrame()
for j in range(1,501) :
    response=requests.get('https://api.themoviedb.org/3/movie/popular?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(j)).json()
    popularity=[]
    vote_count=[]
    original_language=[]
    title=[]
    vote_average=[]
    overview=[]
    release_date=[]

    for i in response['results'] :
        popularity.append(i['popularity'])
        vote_count.append(i['vote_count'])
        original_language.append(i['original_language'])
        title.append(i['title'])
        vote_average.append(i['vote_average'])
        overview.append(i['overview'])
        
        try:
            release_date.append(i['release_date'])
        except:
            release_date.append('NAN')

    d={'title':title, 'overview':overview, 'release_date':release_date, 'popularity':popularity, 'vote_count':vote_count}
    
    df=pd.DataFrame(d)
    
    final=final.append(df, ignore_index=True)

In [10]:
final

,title,overview,release_date,popularity,vote_count
0,Ad Astra,"The near future, a time when both hope and har...",2019-09-17,490.159,3260
1,Extraction,"Tyler Rake, a fearless mercenary who offers hi...",2020-04-24,401.671,1404
2,Scary Movie 6,[RUMORED] The sixth and final installment of ...,2021-04-02,339.787,0
3,Crayon Shin-chan: Fierceness That Invites Stor...,"Shin-chan somehow travels back in time, where ...",2002-04-20,209.405,5
4,Bloodshot,"After he and his wife are murdered, marine Ray...",2020-03-05,189.831,2041
...,...,...,...,...,...
9995,Nanook of the North,This pioneering documentary film depicts the l...,1922-06-11,7.634,138
9996,Sullivan's Travels,"Successful movie director John L. Sullivan, co...",1941-11-30,9.133,234
9997,Species: The Awakening,"A scientist, Dr Holander, takes his niece Mira...",2007-10-02,9.294,87
9998,Frankenstein,An investigation into a serial killer leads tw...,2004-10-09,5.844,22
9999,El Infierno,"Benjamin Garcia, Benny is deported from the Un...",2010-09-03,8.586,152

In [12]:
final.to_csv('movies.csv')